<div class="flex justify-center items-center h-full">
    <div
        class="p-6 w-full max-w-md mx-auto bg-white/80 backdrop-blur-sm border rounded-lg shadow-lg"
    >
        <h2 class="text-3xl font-bold mb-6 text-center text-indigo-700">
            ¿En qué estás pensando?
        </h2>
        <form
            (ngSubmit)="getSentiment(f, $event)"
            #f="ngForm"
            class="space-y-6"
        >
            <input
                type="text"
                aria-label="Escribe un pensamiento"
                placeholder="Escribe tu pensamiento aquí..."
                [(ngModel)]="innerThought"
                name="thought"
                class="w-full p-4 border-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 text-lg"
            />
            <div class="flex justify-center space-x-4 sm:space-x-8">
                <label class="flex flex-col items-center cursor-pointer group">
                    <input
                        type="radio"
                        name="emotion"
                        value="Felicidad"
                        [(ngModel)]="sentiment"
                        class="sr-only"
                    />
                    <div
                        class="relative w-20 h-20 sm:w-24 sm:h-24 bg-yellow-300 rounded-full shadow-lg transition-all duration-300 group-hover:scale-110"
                    >
                        <div
                            class="absolute inset-0 flex items-center justify-center"
                        >
                            <div
                                class="w-16 h-16 sm:w-20 sm:h-20 bg-yellow-400 rounded-full flex items-center justify-center overflow-hidden"
                            >
                                <img
                                    src="/images/happiness.png"
                                    alt="Felicidad"
                                    class="w-12 h-12 sm:w-16 sm:h-16 object-cover transform -translate-y-1 group-hover:scale-110 transition-transform duration-300"
                                />
                            </div>
                        </div>
                    </div>
                    <span
                        class="mt-2 sm:mt-3 text-sm sm:text-lg font-semibold text-yellow-600 group-hover:text-yellow-700"
                        >Felicidad</span
                    >
                </label>

                <label class="flex flex-col items-center cursor-pointer group">
                    <input
                        type="radio"
                        name="emotion"
                        value="Tristeza"
                        [(ngModel)]="sentiment"
                        class="sr-only"
                    />
                    <div
                        class="relative w-20 h-20 sm:w-24 sm:h-24 bg-blue-300 rounded-full shadow-lg transition-all duration-300 group-hover:scale-110"
                    >
                        <div
                            class="absolute inset-0 flex items-center justify-center"
                        >
                            <div
                                class="w-16 h-16 sm:w-20 sm:h-20 bg-blue-400 rounded-full flex items-center justify-center overflow-hidden"
                            >
                                <img
                                    src="/images/sadness.png"
                                    alt="Tristeza"
                                    class="w-12 h-12 sm:w-16 sm:h-16 object-cover transform -translate-y-1 group-hover:scale-110 transition-transform duration-300"
                                />
                            </div>
                        </div>
                    </div>
                    <span
                        class="mt-2 sm:mt-3 text-sm sm:text-lg font-semibold text-blue-600 group-hover:text-blue-700"
                        >Tristeza</span
                    >
                </label>

                <label class="flex flex-col items-center cursor-pointer group">
                    <input
                        type="radio"
                        name="emotion"
                        value="Ansiedad"
                        [(ngModel)]="sentiment"
                        class="sr-only"
                    />
                    <div
                        class="relative w-20 h-20 sm:w-24 sm:h-24 bg-red-300 rounded-full shadow-lg transition-all duration-300 group-hover:scale-110"
                    >
                        <div
                            class="absolute inset-0 flex items-center justify-center"
                        >
                            <div
                                class="w-16 h-16 sm:w-20 sm:h-20 bg-red-400 rounded-full flex items-center justify-center overflow-hidden"
                            >
                                <img
                                    src="/images/anxiety.png"
                                    alt="Ansiedad"
                                    class="w-12 h-12 sm:w-16 sm:h-16 object-cover transform -translate-y-1 group-hover:scale-110 transition-transform duration-300"
                                />
                            </div>
                        </div>
                    </div>
                    <span
                        class="mt-2 sm:mt-3 text-sm sm:text-lg font-semibold text-red-600 group-hover:text-red-700"
                        >Ansiedad</span
                    >
                </label>
            </div>
            <button
                type="submit"
                class="w-full bg-indigo-600 text-white py-3 rounded-lg font-semibold text-lg shadow-md hover:bg-indigo-700 transition duration-300"
                [disabled]="!f.valid"
            >
                Enviar
            </button>
        </form>
    </div>
</div>
