<footer class="p-4">
    <div class="container mx-auto text-center">
        <a class="text-lg font-semibold" routerLink="/"
            >Diario de pensamientos</a
        >
        <p class="text-sm mt-2">
            &copy; 2024. This content is not of our own authorship and belongs
            to
            <a
                href="https://www.disney.com"
                class="underline text-blue-600"
                target="_blank"
                rel="noopener noreferrer"
                >Disney</a
            >.
        </p>
    </div>
</footer>
